{% if mode == 'delete' %}
{# XÓA OSPF: Phải xóa theo thứ tự Interface -> Area -> Instance #}
:do { /routing/ospf/interface-template/remove [find] } on-error={}
:do { /routing/ospf/area/remove [find] } on-error={}
:do { /routing/ospf/instance/remove [find] } on-error={}

{% else %}
{# 1. Tạo Instance #}
:do { /routing/ospf/instance/add name=ospf-instance-1 router-id={{ config.router_id }} version=2 } on-error={}

{# 2. Tạo Area #}
:do { /routing/ospf/area/add name=area-0 instance=ospf-instance-1 area-id=0.0.0.0 } on-error={}

{# 3. Active Interfaces (Cổng nối Router khác - Chạy P2P) #}
{# Lưu ý: Đã bỏ passive=no vì mặc định là active #}
{% for iface in config.active_interfaces %}
:do {
    /routing/ospf/interface-template/add area=area-0 interfaces={{ iface }} type=ptp
} on-error={}
{% endfor %}

{# 4. Passive Interfaces (Loopback) #}
{# QUAN TRỌNG: Đã bỏ passive=yes để tránh lỗi cú pháp trên bản RouterOS #}
{# Loopback dù có active cũng không ảnh hưởng gì vì nó là cổng ảo #}
{% for iface in config.passive_interfaces %}
:do {
    /routing/ospf/interface-template/add area=area-0 interfaces={{ iface }}
} on-error={}
{% endfor %}

{% endif %}