{# ================= 3. BGP PROCESS & GLOBAL NEIGHBORS ================= #}
router bgp {{ config.local_as }}
 {% if config.router_id %}
  {% set prefix = 'no ' if config.router_id_action == 'remove' else '' %}
 {{ prefix }}bgp router-id {{ config.router_id }}
 {% endif %}
 no synchronization

 {# --- Các tính năng Global (Dùng true/false để bật tắt) --- #}
 {% if config.log_neighbor_changes is defined %}
  {% if config.log_neighbor_changes %}
 bgp log-neighbor-changes
  {% else %}
 no bgp log-neighbor-changes
  {% endif %}
 {% endif %}

 {% if config.graceful_restart is defined %}
  {% if config.graceful_restart %}
 bgp graceful-restart
  {% else %}
 no bgp graceful-restart
  {% endif %}
 {% endif %}

 {% if config.timers %}
  {% set prefix = 'no ' if config.timers_action == 'remove' else '' %}
 {{ prefix }}bgp timers {{ config.timers.keepalive }} {{ config.timers.holdtime }}
 {% endif %}

 {# --- BGP Administrative Distance --- #}
 {% if config.distance %}
  {% set prefix = 'no ' if config.distance_action == 'remove' else '' %}
 {{ prefix }}distance bgp {{ config.distance.external }} {{ config.distance.internal }} {{ config.distance.local }}
 {% endif %}

 {# --- Khai báo Peer Group (nếu có) --- #}
 {% if config.peer_groups %}
  {% for pg in config.peer_groups %}
   {% set prefix = 'no ' if pg.action == 'remove' else '' %}
   {% if pg.action == 'remove' %}
 {{ prefix }}neighbor {{ pg.name }} peer-group
   {% else %}
 neighbor {{ pg.name }} peer-group
 neighbor {{ pg.name }} remote-as {{ pg.remote_as }}
   {% endif %}
  {% endfor %}
 {% endif %}

 {# ================= KHAI BÁO LÁNG GIỀNG IPV4 ================= #}
 {% if config.neighbors %}
  {% for nbr in config.neighbors %}
   {% set prefix = 'no ' if nbr.action == 'remove' else '' %}
   
   {# Nếu muốn xóa sạch láng giềng này, chỉ cần 1 lệnh no neighbor là đủ #}
   {% if nbr.action == 'remove' %}
 {{ prefix }}neighbor {{ nbr.ip }}
   {% else %}
    {# --- Cho láng giềng join Peer Group hoặc dùng Remote AS riêng --- #}
    {% if nbr.peer_group %}
 neighbor {{ nbr.ip }} peer-group {{ nbr.peer_group }}
    {% else %}
 neighbor {{ nbr.ip }} remote-as {{ nbr.remote_as }}
    {% endif %}
    
    {# --- Các thông số phụ trợ của Neighbor (Hỗ trợ xóa lẻ từng cái) --- #}
    {% if nbr.description %}
     {% set pfx_desc = 'no ' if nbr.desc_action == 'remove' else '' %}
 {{ pfx_desc }}neighbor {{ nbr.ip }} description {{ nbr.description }}
    {% endif %}
    {% if nbr.password %}
     {% set pfx_pass = 'no ' if nbr.pass_action == 'remove' else '' %}
 {{ pfx_pass }}neighbor {{ nbr.ip }} password {{ nbr.password }}
    {% endif %}
    {% if nbr.update_source %}
     {% set pfx_src = 'no ' if nbr.src_action == 'remove' else '' %}
 {{ pfx_src }}neighbor {{ nbr.ip }} update-source {{ nbr.update_source }}
    {% endif %}
    {% if nbr.ebgp_multihop %}
     {% set pfx_mhop = 'no ' if nbr.mhop_action == 'remove' else '' %}
 {{ pfx_mhop }}neighbor {{ nbr.ip }} ebgp-multihop {{ nbr.ebgp_multihop }}
    {% endif %}
    {% if nbr.bfd %}
     {% set pfx_bfd = 'no ' if nbr.bfd_action == 'remove' else '' %}
 {{ pfx_bfd }}neighbor {{ nbr.ip }} fall-over bfd
    {% endif %}
    {% if nbr.timers %}
     {% set pfx_timer = 'no ' if nbr.timer_action == 'remove' else '' %}
 {{ pfx_timer }}neighbor {{ nbr.ip }} timers {{ nbr.timers.keepalive }} {{ nbr.timers.holdtime }}
    {% endif %}
   {% endif %}
  {% endfor %}
 {% endif %}

 {# ================= KHAI BÁO LÁNG GIỀNG IPV6 ================= #}
 {% if config.ipv6_neighbors %}
  {% for nbr in config.ipv6_neighbors %}
   {% set prefix = 'no ' if nbr.action == 'remove' else '' %}
   
   {% if nbr.action == 'remove' %}
 {{ prefix }}neighbor {{ nbr.ip }}
   {% else %}
 neighbor {{ nbr.ip }} remote-as {{ nbr.remote_as }}
    {% if nbr.description %}
     {% set pfx_desc = 'no ' if nbr.desc_action == 'remove' else '' %}
 {{ pfx_desc }}neighbor {{ nbr.ip }} description {{ nbr.description }}
    {% endif %}
    {% if nbr.password %}
     {% set pfx_pass = 'no ' if nbr.pass_action == 'remove' else '' %}
 {{ pfx_pass }}neighbor {{ nbr.ip }} password {{ nbr.password }}
    {% endif %}
    {% if nbr.update_source %}
     {% set pfx_src = 'no ' if nbr.src_action == 'remove' else '' %}
 {{ pfx_src }}neighbor {{ nbr.ip }} update-source {{ nbr.update_source }}
    {% endif %}
    {% if nbr.ebgp_multihop %}
     {% set pfx_mhop = 'no ' if nbr.mhop_action == 'remove' else '' %}
 {{ pfx_mhop }}neighbor {{ nbr.ip }} ebgp-multihop {{ nbr.ebgp_multihop }}
    {% endif %}
   {% endif %}
  {% endfor %}
 {% endif %}