{# ================= 6. ADDRESS FAMILY IPV6 ================= #}
{% if config.ipv6_networks or config.ipv6_neighbors %}
 address-family ipv6
 {% if config.dampening %}
  {% set pfx_damp = 'no ' if config.damp_action == 'remove' else '' %}
  {{ pfx_damp }}bgp dampening
 {% endif %}
 {% if config.add_paths %}
  {% set pfx_add = 'no ' if config.add_paths_action == 'remove' else '' %}
  {{ pfx_add }}bgp additional-paths {{ config.add_paths }}
 {% endif %}

 {% if config.ipv6_networks %}
  {% for net in config.ipv6_networks %}
   {% set pfx_net = 'no ' if net.action == 'remove' else '' %}
  {{ pfx_net }}network {{ net.ip }}
  {% endfor %}
 {% endif %}

 {% if config.redistribute %}
  {% for red in config.redistribute %}
   {% set pfx_red = 'no ' if red.action == 'remove' else '' %}
  {{ pfx_red }}redistribute {{ red.protocol }}{% if red.route_map %} route-map {{ red.route_map }}{% endif %}
  {% endfor %}
 {% endif %}

 {% if config.ipv6_neighbors %}
  {% for nbr in config.ipv6_neighbors %}
   {% set pfx_nbr = 'no ' if nbr.action == 'remove' else '' %}
   
   {% if nbr.action == 'remove' %}
  {{ pfx_nbr }}neighbor {{ nbr.ip }} activate
   {% else %}
  neighbor {{ nbr.ip }} activate
  
  {% if nbr.shutdown %}
   {% set pfx_shut = 'no ' if nbr.shut_action == 'remove' else '' %}
  {{ pfx_shut }}neighbor {{ nbr.ip }} shutdown
  {% endif %}
  {% if nbr.send_community %}
   {% set pfx_comm = 'no ' if nbr.comm_action == 'remove' else '' %}
  {{ pfx_comm }}neighbor {{ nbr.ip }} send-community
  {% endif %}
  {% if nbr.next_hop_self %}
   {% set pfx_nhs = 'no ' if nbr.nhs_action == 'remove' else '' %}
  {{ pfx_nhs }}neighbor {{ nbr.ip }} next-hop-self
  {% endif %}
  {% if nbr.next_hop_unchanged %}
   {% set pfx_nhu = 'no ' if nbr.nhu_action == 'remove' else '' %}
  {{ pfx_nhu }}neighbor {{ nbr.ip }} next-hop-unchanged
  {% endif %}
  {% if nbr.route_reflector_client %}
   {% set pfx_rrc = 'no ' if nbr.rrc_action == 'remove' else '' %}
  {{ pfx_rrc }}neighbor {{ nbr.ip }} route-reflector-client
  {% endif %}
  {% if nbr.soft_reconfig %}
   {% set pfx_soft = 'no ' if nbr.soft_action == 'remove' else '' %}
  {{ pfx_soft }}neighbor {{ nbr.ip }} soft-reconfiguration inbound
  {% endif %}
  {% if nbr.max_prefix %}
   {% set pfx_max = 'no ' if nbr.max_action == 'remove' else '' %}
  {{ pfx_max }}neighbor {{ nbr.ip }} maximum-prefix {{ nbr.max_prefix }}
  {% endif %}
  {% if nbr.default_originate %}
   {% set pfx_def = 'no ' if nbr.def_action == 'remove' else '' %}
  {{ pfx_def }}neighbor {{ nbr.ip }} default-originate
  {% endif %}
  {% if nbr.as_override %}
   {% set pfx_aso = 'no ' if nbr.aso_action == 'remove' else '' %}
  {{ pfx_aso }}neighbor {{ nbr.ip }} as-override
  {% endif %}
  {% if nbr.allowas_in %}
   {% set pfx_allow = 'no ' if nbr.allow_action == 'remove' else '' %}
  {{ pfx_allow }}neighbor {{ nbr.ip }} allowas-in
  {% endif %}
  {% if nbr.remove_private_as %}
   {% set pfx_rem = 'no ' if nbr.rem_action == 'remove' else '' %}
  {{ pfx_rem }}neighbor {{ nbr.ip }} remove-private-as
  {% endif %}
  {% if nbr.route_map_in %}
   {% set pfx_rmi = 'no ' if nbr.rmi_action == 'remove' else '' %}
  {{ pfx_rmi }}neighbor {{ nbr.ip }} route-map {{ nbr.route_map_in }} in
  {% endif %}
  {% if nbr.route_map_out %}
   {% set pfx_rmo = 'no ' if nbr.rmo_action == 'remove' else '' %}
  {{ pfx_rmo }}neighbor {{ nbr.ip }} route-map {{ nbr.route_map_out }} out
  {% endif %}
  
   {% endif %}
  {% endfor %}
 {% endif %}
 exit-address-family
{% endif %}