{% if config.state in ['remove', 'absent'] %}
no ip access-list {{ config.acl_type }} {{ config.acl_name }}
{% else %}
ip access-list {{ config.acl_type }} {{ config.acl_name }}
{% if config.push_desc and config.description %}
 remark {{ config.description }}
 {% elif config.push_desc == False and config.description %}
 no remark {{ config.description }}  {# <--- Thêm mô tả vào đây để Cisco hiểu #}
 {% endif %}
{% for rule in config.rules %}
  {% if rule.state in ['remove', 'absent'] %}
  no {{ rule.sequence }}
  
  {# Sửa thành elif thay vì else để Jinja2 biết đường bỏ qua mấy thằng bị ignore #}
  {% elif rule.state == 'setup' %} 
   
   {% if rule.type == 'std' %}
  {{ rule.sequence }} {{ rule.action }} {{ rule.source }} {% if rule.wildcard %}{{ rule.wildcard }}{% endif %}
   {% elif rule.type == 'ext' %}
  {{ rule.sequence }} {{ rule.action }} {{ rule.protocol }} {{ rule.source }} {% if rule.src_wildcard %}{{ rule.src_wildcard }}{% endif %} {% if rule.src_port %}eq {{ rule.src_port }}{% endif %} {{ rule.destination }} {% if rule.dst_wildcard %}{{ rule.dst_wildcard }}{% endif %} {% if rule.dst_port %}eq {{ rule.dst_port }}{% endif %}
   {% endif %}
   
  {% endif %}
 {% endfor %}
 exit
{% endif %}