{% if mode == 'delete' %}
/routing isis interface-template remove [find]
/routing isis instance remove [find]


{% elif mode == 'setup' %}


:if ([:len [/routing isis instance find name={{ config.instance_name }}]] > 0) do={/routing isis instance remove [find name={{ config.instance_name }}]}


/routing isis instance add name={{ config.instance_name }} afi=ip areas={{ config.area_id }} system-id={{ config.system_id }}


{% for iface in config.interfaces %}
/routing isis interface-template add instance={{ config.instance_name }} interfaces={{ iface.port }} levels={% if iface.circuit_type == 'level-1' %}l1{% elif iface.circuit_type == 'level-2-only' %}l2{% else %}l1,l2{% endif %}
{% endfor %}
{% endif %}